/*Media Query and Responsive*/

@media screen and (min-width: 36rem) {
    .header {
      background-image: url('../images/bg-header-desktop.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
}