
@mixin content {
    display: grid;
    place-content: center;
    padding-top: 4rem;
}

@mixin text ($color, $weight, $size) {
    color: $color !important;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: $weight !important;
    font-size: $size !important;
    padding: 0 1rem !important;
}


@mixin button ($color) {
    background: $color;
    border-radius: 30px;
    border-style: none;
    color: $buttonTextColor;
    padding: 0.9rem 2.5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400  
}