
@mixin content {
    display: grid;
    place-content: center;
    padding-top: 4rem;
}

@mixin paragraph {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    max-width: 41rem;    
}

@mixin button ($color) {
    background: $color;
    border-radius: 30px;
    border-style: none;
    color: $buttonTextColor;
    padding: 0.9rem 2.5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;  
}