@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Be+Vietnam+Pro:ital,wght@0,100;1,200&display=swap");
/*Media Query and Responsive*/
@media screen and (min-width: 36rem) {
  .header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Bai Jamjuree', sans-serif;
}

h1 {
  color: #4c545d !important;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600 !important;
  font-size: 2.1rem !important;
  padding: 0 1rem;
}

h2 {
  color: #4c545d !important;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600 !important;
  font-size: 1.8rem !important;
  padding: 0 1rem;
}

h3 {
  color: #4c545d !important;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600 !important;
  font-size: 1.4rem !important;
}

p {
  color: #9fabb2;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  place-content: center;
}

.buttons .btn, .buttons .btn.btn__ios, .buttons .btn.btn__mac {
  border-radius: 30px;
  border-style: none;
  color: white;
  padding: 0.9rem 2.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.buttons .btn__ios.btn {
  background-color: #26baa4;
  -webkit-box-shadow: 0px 10px 27px -12px #26baa4;
          box-shadow: 0px 10px 27px -12px #26baa4;
}

.buttons .btn__ios.btn:hover {
  opacity: 0.72;
}

.buttons .btn__mac.btn {
  background-color: #6173ff;
}

.buttons .btn__mac.btn:hover {
  opacity: 0.72;
}

.align-center {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.align-center h1, .align-center h2, .align-center h3 {
  text-align: center;
}

.align-center p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 43rem;
}

/*Header Section.*/
.header {
  padding-top: 5rem;
  margin-bottom: 5rem;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header .header__logo {
  padding-bottom: 3rem;
}

.header img, .header svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Snippets Section.*/
.d-flex {
  margin-bottom: -4rem;
}

.g-col-6 {
  margin-left: -10rem;
}

.g-col-7 {
  margin-left: 9rem;
  padding-top: 2rem;
}

.g-col-7 .h3 {
  padding-top: 2.4rem;
  text-align: left;
}

.g-col-7 p {
  margin-bottom: 0.8rem;
  line-height: 2rem;
  max-width: 25rem;
}

/*Access Section*/
.access-image {
  padding-bottom: 2rem;
}

.access-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Supercharge Section*/
.supercharge .align-center {
  padding-top: 0 !important;
  padding-bottom: 4rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-7 .img-1 {
  display: block;
  height: 30px;
  width: auto;
}

.mb-7 h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3.2rem;
}

.mb-7 .p-1 {
  padding: .25rem !important;
  text-align: center;
  margin-bottom: 3rem;
}

/*Brand Logo Section*/
.brand__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__logo img {
  width: 170px;
  height: auto;
}

.brand__logo .p3 {
  padding: 1rem;
  padding-left: 4rem;
}

/*Clipboard Section*/
.clipboard-text {
  margin-bottom: 2rem;
}

.clipboard-text h1, .clipboard-text p {
  text-align: center;
}

/*Footer Section*/
.footer {
  background-color: #f7f8f8;
}

.footer .footer__logo {
  padding: 3rem 0rem;
  padding-left: 3rem;
  height: 10rem;
}

.footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.5rem;
  padding-left: 8rem;
}

.footer .svg {
  height: 1.9rem;
  width: auto;
  padding-right: 2rem;
}

.footer .svg:hover path {
  fill: #26baa4;
}

.footer .footer__links {
  max-width: 500px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 120px))[3];
      grid-template-columns: repeat(3, minmax(120px, 120px));
  grid-gap: 20px 70px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.footer .footer__links a {
  text-decoration: none;
  color: #4c545d;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

.footer .footer__links a:hover {
  color: #26baa4;
}

/*Media Query and Responsive*/
@media screen and (max-width: 1410px) {
  .brand__logo img {
    width: 120px !important;
  }
  .brand__logo .ml-4 {
    margin-left: 1rem !important;
  }
  .brand__logo .p3 {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .snippets-inner {
    margin-bottom: 5rem !important;
  }
  .g-col-7 {
    margin-left: 5rem;
    padding-top: 1.5rem;
  }
  .g-col-7 p {
    margin-bottom: 0.5rem !important;
  }
}

@media screen and (max-width: 1100px) {
  .d-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-left: auto;
    margin-right: auto;
  }
  .g-col-6 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  .g-col-7 {
    width: 100%;
    margin-left: 0;
    padding: 70px 0 0;
    text-align: center;
  }
  .g-col-7 .h3 {
    text-align: center;
  }
  .g-col-7 p {
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .brand__logo {
    display: block !important;
  }
  .brand__logo img {
    display: block;
    width: auto !important;
    height: auto;
    margin: auto;
    padding-bottom: 3rem;
  }
}

@media (max-width: 795px) {
  .header {
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: cover;
    background-size: 100%;
  }
  .header p {
    padding: 0rem 1rem;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons .button__ios, .buttons .button__mac {
    padding: 1rem 4.5rem !important;
  }
  .footer {
    padding: 2.375rem 5.313rem;
  }
  .footer .row {
    display: -ms-grid !important;
    display: grid !important;
  }
  .footer .footer__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0rem;
    padding-left: auto !important;
  }
  .footer .p-3 {
    padding: 0rem !important;
  }
  .footer .col-6 {
    width: 100% !important;
  }
  .footer .footer__links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    place-items: center;
    padding-top: 1rem !important;
    margin-left: auto !important;
    margin-right: auto;
    text-align: center;
  }
  .footer .footer__links a {
    padding-bottom: 1rem;
  }
  .footer .footer__social {
    padding-bottom: 1rem;
    padding-top: 1rem !important;
  }
}
/*# sourceMappingURL=main.css.map */