@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Be+Vietnam+Pro:ital,wght@0,100;1,200&display=swap");
/*Media Query and Responsive*/
@media screen and (min-width: 36rem) {
  .header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3, h4 {
  color: #4c545d !important;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
}

p {
  color: #9fabb2;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/*Header Section.*/
.header {
  padding-top: 5rem;
  margin-bottom: 5rem;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header .header-content {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.header .header-logo {
  padding-bottom: 2rem;
}

.header img, .header svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  text-align: center;
}

.header p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 41rem;
}

.header .header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .btn.button-ios {
  -webkit-box-shadow: 0px 10px 27px -12px #26baa4;
          box-shadow: 0px 10px 27px -12px #26baa4;
  background: #26baa4;
  border-radius: 50px;
  border-style: none;
  color: white;
  padding: 0.9rem 2.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.header .btn.button-ios:hover {
  opacity: 0.72;
}

.header .btn.button-mac {
  background: #6173ff;
  border-radius: 50px;
  border-style: none;
  color: white;
  padding: 0.9rem 2.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.header .btn.button-mac:hover {
  opacity: 0.72;
}

/*Snippets Section.*/
.snippets-content {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.snippets-content h2 {
  text-align: center;
}

.snippets-content p {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  max-width: 44rem;
}

.d-flex {
  margin-bottom: -4rem;
}

.g-col-6 {
  margin-left: -10rem;
}

.g-col-7 {
  margin-left: 9rem;
  padding-top: 2rem;
}

.g-col-7 .h3 {
  padding-top: 2.4rem;
  text-align: left;
}

.g-col-7 p {
  margin-bottom: 0.8rem;
  line-height: 2rem;
  max-width: 25rem;
}

/*Access Section*/
.access-content {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.access-content h2 {
  margin-top: 2rem;
  text-align: center;
}

.access-content p {
  margin-top: 1rem;
  margin-bottom: 6rem;
  max-width: 43rem;
  text-align: center;
}

.access-image {
  padding-bottom: 2rem;
}

.access-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Supercharge Section*/
.supercharge-content {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.supercharge-content h2 {
  margin-top: 4rem;
  text-align: center;
}

.supercharge-content p {
  margin-top: 0.8rem;
  margin-bottom: 5rem;
  max-width: 43rem;
  text-align: center;
}

.container {
  margin-bottom: 7rem;
}

.container .img-1 {
  display: block;
  height: 30px;
  width: auto;
}

.container h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3.2rem;
}

.container .p-1 {
  padding: .25rem !important;
  text-align: center;
}

/*Brand Logo Section*/
.item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-center img {
  width: 170px;
  height: auto;
}

.item-center .ml-4 {
  margin-left: -4rem;
}

.item-center .p3 {
  padding: 1rem;
  padding-left: 4rem;
}

/*Clipboard Section*/
.clipboard-content {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 4rem;
}

.clipboard-content h1 {
  text-align: center;
}

.clipboard-content p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 43rem;
}

.clipboard-content .clipboard-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.clipboard-content .btn.button-ios {
  -webkit-box-shadow: 0px 10px 27px -12px #26baa4;
          box-shadow: 0px 10px 27px -12px #26baa4;
  background: #26baa4;
  border-radius: 50px;
  border-style: none;
  color: white;
  padding: 0.9rem 2.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.clipboard-content .btn.button-ios:hover {
  opacity: 0.72;
}

.clipboard-content .btn.button-mac {
  background: #6173ff;
  border-radius: 50px;
  border-style: none;
  color: white;
  padding: 0.9rem 2.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

.clipboard-content .btn.button-mac:hover {
  opacity: 0.72;
}

/*Footer Section*/
.footer {
  background-color: #f7f8f8;
  height: auto;
}

.footer .footer-logo {
  padding: 3rem 0rem;
  padding-left: 9rem;
  height: 10rem;
}

.footer .footer-links {
  margin-left: -9rem;
  margin-top: 2rem;
}

.footer .footer-links .footer-link {
  text-decoration: none;
  color: #4c545d;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

.footer .footer-links .footer-link:hover {
  color: #26baa4;
}

.footer .p1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .p2 {
  padding-left: 3rem;
}

.footer .pd-3 {
  padding-left: 1.5rem;
  margin-right: 2rem;
}

.footer .footer-social {
  padding-top: 4.5rem;
  padding-left: 12rem;
}

.footer .svg {
  height: 1.9rem;
  width: auto;
  padding-right: 2rem;
}

.footer .svg:hover path {
  fill: #26baa4;
}

/*Media Query and Responsive*/
@media screen and (min-width: 36rem) {
  .header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media screen and (min-width: 48rem) {
  /* global styles*/
  p {
    font-size: 1.14rem;
  }
  /* variables */
  :root {
    --Main-title: 600 2.7rem 'Bai Jamjuree', sans-serif;
    --Title: 600 2.3rem 'Bai Jamjuree', sans-serif;
  }
  /* reusable classes */
  .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buttons a {
    padding: 0.9rem 2.2rem;
  }
  .wrapper {
    margin: 0 1.5rem;
  }
  /* styles */
  #header {
    padding-top: 8rem;
  }
  #header .header__logo img {
    width: 7.875rem;
    margin-bottom: 4.063rem;
  }
  #header .header__text {
    width: 42rem;
  }
  #header .header__text p {
    margin-bottom: 3.25rem;
  }
  #details .details__text {
    margin-bottom: 5.188rem;
  }
  #details .details__image img {
    margin-bottom: 6rem;
  }
  #workflow .workflow__text {
    margin-bottom: 5rem;
  }
  #brands-logos .brands-logos__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.3rem;
  }
  #brands-logos img {
    width: 7rem;
  }
  #clipboard {
    padding-bottom: 9.313rem;
  }
  #clipboard .clipboard__text {
    margin-bottom: 3.313rem;
  }
  #clipboard .clipboard__text p {
    width: 41rem;
    margin: 0 auto;
  }
  #footer {
    padding: 2.375rem 2rem;
    text-align: left;
  }
  #footer .footer__logo img {
    margin: 0;
    width: 3.5rem;
  }
  #footer .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer__help {
    margin: 0;
  }
  #footer .footer__help ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [middle-1] 1fr [middle-2] 1fr [end];
        grid-template-columns: [start] 1fr [middle-1] 1fr [middle-2] 1fr [end];
    row-gap: 1rem;
    -webkit-column-gap: 3.4rem;
            column-gap: 3.4rem;
  }
  #footer .footer__help ul li:nth-child(3) {
    grid-area: 1 / middle-1 / middle-2;
  }
  #footer .footer__help ul li:last-child {
    grid-area: 1 / middle-2 / end;
  }
  #footer .footer__help ul li a {
    font-size: 1.1rem;
  }
  #footer .footer__socials {
    gap: 1.36rem;
  }
  #footer .footer__socials a i {
    font-size: 1.563rem;
  }
}

@media screen and (min-width: 62rem) {
  /* layout */
  .wrapper {
    max-width: 62.5rem;
    overflow: hidden;
    margin: 0 auto;
  }
  #details .wrapper {
    max-width: 45rem;
  }
  #details .details__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    overflow: hidden;
    text-align: left;
    max-width: 78rem;
    margin: 0;
  }
  #details .details__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  #details .details__image img {
    margin: 0;
    position: relative;
    left: -2rem;
  }
  #details .details__cards {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #more .wrapper {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  #more .more__text {
    width: 45rem;
    margin: 0 auto 7.25rem;
  }
  #workflow {
    padding-bottom: 10.375rem;
  }
  #workflow .workflow__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  #workflow .workflow__cards img {
    width: 3rem;
  }
  #workflow .workflow__cards p {
    font-size: 1.07rem;
  }
  #brands-logos .brands-logos__container {
    gap: 3.2rem;
  }
  #brands-logos img {
    width: 9rem;
  }
  #footer {
    padding: 2.375rem 6.3rem;
  }
  #footer .footer__help ul {
    -webkit-column-gap: 5.75rem;
            column-gap: 5.75rem;
  }
}

@media screen and (min-width: 75rem) {
  /* layout */
  .wrapper {
    max-width: 75rem;
    margin: 0 auto;
  }
  #details .details__container {
    gap: 6.5rem;
  }
  #workflow .workflow__cards {
    gap: 2.438rem;
  }
  #brands-logos .brands-logos__container {
    gap: 6rem;
  }
  #brands-logos img {
    width: 10rem;
  }
  #footer {
    padding: 2.375rem 10rem;
  }
}
/*# sourceMappingURL=main.css.map */