@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Be+Vietnam+Pro:ital,wght@0,100;1,200&display=swap');
@import "color";
@import "mixin";
@import "media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3, h4 {
    color: $darkBlue !important;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
}
h1 {
  font-size: 2.1rem;
  padding: 0 1rem;
}
h2 {
  font-size: 1.8rem;
}

p {
    color: $grayishBlue;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.buttons {
  display: flex;        
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  .btn.button-ios {
    box-shadow: 0px 10px 27px -12px $strongCyan;
    @include button($strongCyan);
    &:hover{
        opacity: 0.72;
    }
  }
  
  .btn.button-mac {
    @include button($lightBlue);
    &:hover{
        opacity: 0.72;
    }
  }
}



/*Header Section.*/
.header {
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: clip;

    .header-content {
        @include content;
    }

    .header-logo {
        padding-bottom: 2rem;
    }
      
    img, svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        text-align: center;
    }
    p {
        @include paragraph;
    }   
}

/*Snippets Section.*/

.snippets-content {
    @include content;

    h2 {
        text-align: center;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 4rem;
        text-align: center;
        max-width: 44rem;
    }
}

.d-flex {
    margin-bottom: -4rem;
}
.g-col-6 {
    margin-left: -10rem;
}
  
.g-col-7 {
    margin-left: 9rem;
    padding-top: 2rem;
    .h3 {
        padding-top: 2.4rem;
        text-align: left;
    }
    
    p {
        margin-bottom: 0.8rem;
        line-height: 2rem;
        max-width: 25rem;
    }
}

/*Access Section*/

.access-content {
    @include content;

    h2 {
        margin-top: 2rem;
        text-align: center;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 6rem;
        max-width: 43rem;
        text-align: center;
    }
}
.access-image {
    padding-bottom: 2rem;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
  

/*Supercharge Section*/

.supercharge-content {
    @include content;
    padding-top: 0rem !important;
    h2 {
        text-align: center;
    }

    p {
        margin-top: 0.8rem;
        margin-bottom: 5rem;
        max-width: 43rem;
        text-align: center;
    }
}

.mb-7 {
    margin-bottom: 7rem;
    .img-1 {
        display: block;
        height: 30px;
        width: auto;
    }
      
    h3 {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 3.2rem;
    }
      
    .p-1 {
        padding: .25rem !important;
        text-align: center;
        margin-bottom: 3rem;
    }
}

/*Brand Logo Section*/

.item-center {
    align-items: center;
    img {
        width: 170px;
        height: auto;
    }
    .ml-4 {
        margin-left: -4rem;
    }
    .p3 {
        padding: 1rem;
        padding-left: 4rem;
    }
}

/*Clipboard Section*/

.clipboard-content {
    @include content;

    h1 {
        text-align: center;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-align: center;
        max-width: 43rem;
    }
}

/*Footer Section*/

 .footer {
    background-color: $footerBackground;
    height: auto;
    .footer-logo {
        padding: 3rem 0rem;
        padding-left: 9rem;
        height: 10rem;
    }      
    
    .footer-social {
        padding-top: 4.5rem;
        padding-left: 8rem;
        overflow: hidden;
    }

    .svg {
        height: 1.9rem;
        width: auto;
        padding-right: 2rem;
        &:hover path{
            fill: $strongCyan;
        }
    }
    .footer-links {
      max-width: 500px !important;
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 120px));
      grid-gap: 20px 70px;
      padding-top: 3rem;
      padding-bottom: 1rem;
      margin-left: -9rem;
      a {
        text-decoration: none;
        color: $darkBlue;
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 18px;
        &:hover {
          color: $strongCyan;
        }
      }      
    }
  }

/*Media Query and Responsive*/

@media screen and (max-width: 1410px) {
  .item-center{
    img {
      width: 120px !important;
    }
    .ml-4 {
      margin-left: 1rem !important;
    }
    .p3 {
      padding: 1rem !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .snippets-inner {
    margin-bottom: 5rem !important;
  }
  .g-col-7 {
    margin-left: 5rem;
    padding-top: 1.5rem;
    p {
        margin-bottom: 0.5rem !important;
    }
  }
  .footer {
    .footer-logo {
      padding: 3rem 0rem;
      padding-left: 6rem;
      height: 10rem;
    }
    .footer-links {
      max-width: 100px;
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 120px));
      grid-gap: 10px 30px;
      padding-top: 3rem;
      padding-bottom: 1rem;
      margin-left: -9rem;
    } 
    .footer-social {
      padding-left: 4rem !important;
      flex-direction: row !important;
    }
  }  
}

@media screen and (max-width: 1100px) {
  .d-flex {
    flex-direction: column !important;
    margin-left: auto;
    margin-right: auto;
  }
  .g-col-6 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  
  .g-col-7 {
    width: 100%;
    margin-left: 0;
    padding: 70px 0 0;
    text-align: center;
    .h3 {
        text-align: center;
    }
    p {
      margin: auto;
    }
  }  
}

@media screen and (max-width: 1000px) {
  .item-center{
    img {
      width: 100px !important;
    }
    .ml-4 {
      margin-left: 0rem !important;
    }
    .p3 {
      padding: 1rem !important;
    }
  }
  .footer {
    .footer-logo {
      padding: 3rem 0rem;
      padding-left: 3rem;
      height: 9rem;
    }
    .footer-links {
      max-width: 100px;
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 120px));
      grid-gap: 10px 30px;
      padding-top: 3rem;
      padding-bottom: 1rem;
      margin-left: -9rem;
    } 
    .footer-social {
      padding-left: 3rem !important;
      flex-direction: row !important;
    }
  }
}

@media (max-width: 795px) {
  
  .header {
    padding-top: 5rem;
    margin-bottom: 5rem;
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: cover;
    background-size: 100%;
    p {
      padding: 0rem 1rem;
    }
  }  
  .buttons {
    flex-direction: column;
    .button-ios, .button-mac {
      padding: 1rem 4.5rem !important;
    }
  }
  .item-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    img {
      width: auto !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .ml-4 {
      margin-left: auto !important;
      margin-right: auto;
    }
    .p3 {      
      padding: 2rem !important;
    }
  }
  .footer {
    padding: 2.375rem 5.313rem;
    .row {
      display: grid !important;      
    }
    .footer-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem 0rem;
        padding-left: auto !important;
    }
    
    .p-3 {
      padding: 0rem !important;
    }
    .col {
      display: flex !important;
      align-items: center !important;
    }
    .footer-links {
      grid-template-columns: 1fr;
      place-items: center;
      padding-top: 1rem !important;
      margin-left: auto !important;
      margin-right: auto;
      text-align: center;
      a {
        padding-bottom: 1rem;
      }
    }
    .footer-social {
      padding-bottom: 1rem; 
      padding-top: 1rem !important;
    }   
  }
}